@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

/* 2️⃣ THEN load Tailwind */
@import "tailwindcss";

@theme {
  --animate-shake: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;

  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }
}

/* 3️⃣ Your own global CSS */
body {
  margin: 0;
  padding: 0;
}
